*{
    margin: 0%;
    padding: 0%;
}
.Header-menu{
    background: #3498db;
}
.Header-menu ul{
    text-align: center;
}
.Header-menu ul  li{
    display: inline-block;
    margin-left: -4px;
}
.Header-menu ul li a{
    color: #fff;
    padding: 15px 30px;
    font-size: 20px;
    text-decoration: none;
    border-right: 1px solid#ddd;
}
.Header-menu ul li:first-child a{
    border-left: 1px solid #ddd;
}

.Header-menu ul li:hover > a:hover{
    background: #2980b9;
}
.Header-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 300px;
    background-color: #2980b9;
    border-top: 1px solid #ddd;
    transition: .9s;
}
.Header-menu ul li{
    position: relative;
}
.Header-menu ul li ul li{
    display: block;
    margin left: 0;
}
.Header-menu ul ul li:first-child a{
    border-left: none;
}
.Header-menu ul li ul li a{
display: block;
border: none;
border-bottom: 1px solid #ddd;
}
.Header-menu ul li ul{
    opacity: 0;
    visibility: hidden;
  transform: scaley(0);
  transform-origin: top center;
}
.Header-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaley(1);
}
.Header-menu ul li ul li a:hover{}